@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('/fonts/pt-sans-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/pt-sans-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'),
    url('/fonts/vt323-v12-latin-regular.woff2') format('woff2'),
    url('/fonts/vt323-v12-latin-regular.woff') format('woff');
}

:root {
  --font-base: 'PT Sans', sans-serif;
  --font-decorative: 'VT323', monospace;
}
