<header class="c-site-head">
  <div class="o-wrapper">
    <a href="{{ '/' | url }}" class="c-site-head__title">
      <span aria-hidden="true">{{ site.icon }}</span>{{ site.title }}
      <span class="u-visually-hidden">- Home</span>
    </a>
    <p class="c-site-head__tagline u-text-right">
      {{ site.tagline }}
      <span aria-hidden="true">{{ site.taglineIcon }}</span>
    </p>
  </div>
</header>