.c-nav {
  background: var(--background-colour-offset);
  border-bottom: var(--border-width) var(--border-style) var(--border-colour);
  border-top: var(--border-width) var(--border-style) var(--border-colour);
  font-family: var(--font-decorative);
  font-size: var(--step-1);
}

.c-nav__list {
  margin: 0;
  overflow-x: auto;
  padding: var(--step--5) var(--step--3);
  white-space: nowrap;
}

.c-nav__list > li {
  display: inline-block;
}

.c-nav__list > * + * {
  margin-left: var(--step-3);
}
